:root{
    --pagina-principal: #fff;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 8px rgba(110, 110, 110, 0.53);
}

input{
    font-size: 24px;
    padding: 8px 10px;
}

button{
    padding: 8px 20px;
    background-color: #2563EB;
    color: white;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: #0080ff;
}

.error {
    border: 2px solid red;
}

#imagemLogin{
    width: 100%;
}

.conteudo{
    display: flex;
    height: 100%;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.containerConteudo{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

button{
    width: 100%;
}

p{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#nome{
    text-transform: uppercase;
}

.bot{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mensagem {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.3s;
    z-index: 999;
}

.mensagem.sucesso {
    background-color: #28a745;
}

.mensagem.erro {
    background-color: #dc3545;
}

.mensagem.mostrar {
    opacity: 1;
    transform: translateY(0);
}