*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 30%;
}

.manutencao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px 0;
}

