*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background: url("Rectangle\ 8.jpg") 100% no-repeat;
    background-size: cover;
    font-size: 30px;
    padding: 20px 60px;
    color: white;
}

.conteudoTopo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.conteudoBaixo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
    gap: 300px;
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: 800;
    gap: 10px;
    animation: movers 1s ease forwards;
}

@keyframes movers{
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

span{
    color: #E86311;
}

.logo{
    cursor: pointer;
}

.login{
    cursor: pointer;
    position: relative;
  display: inline-block;
}

.login::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;

  width: 100%;
  height: 2px;
  background: white;

  transform: translateX(-50%) scaleX(0);
  transition: transform 0.4s ease;
}

.login:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.agendamentoAgora{
    width: 100%;
    cursor: pointer;
    padding: 20px;
    font-size: 24px;
    background-color: #7C3AED;
    color: white;
    border: none;
    border-radius: 8px;
    transition: transform 2s, ease-in-out;
}

.agendamentoAgora:hover{
    transform: scale(1.1);
    background-color: #5d00ff;
    transition: 0.5s;
}

#imagemEvento{
    width: 40%;
    border-radius: 8px;
    animation: mover 1s ease forwards;
}

@keyframes mover {
    from{
        transform: translateX(200px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

a{
    text-decoration: none;
    color: white;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}